<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Built-In Validators In WTForms</title>
</head>
<body>
<form action="/register/" method="post">
    <table>
        <tr>
            <th>姓名：</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>年龄：</th>
            <td><input type="text" name="age"></td>
        </tr>
        <tr>
            <th>手机号码：</th>
            <td><input type="text" name="phone"></td>
        </tr>
        <tr>
            <th>电子邮件：</th>
            <td><input type="text" name="mail"></td>
        </tr>
        <tr>
            <th>个人主页：</th>
            <td><input type="text" name="personal_page"></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="提交"></td>
        </tr>
    </table>
</form>
</body>
</html>