<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script>
        function refresh_captcha(th) {
            // 加上随机参数是为了让浏览器不使用缓存
            th.setAttribute('src', '{% url 'captcha_learning:captcha_img' %}?r=' + Math.random());
        }
    </script>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>User: </td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>Code: </td>
            <td><input type="text" name="verify_code"></td>
            <td><img src="{% url 'captcha_learning:captcha_img' %}" alt="verify_code" onclick="refresh_captcha(this)"></td>
        </tr>
        <tr>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>
</form>
{% if msg %}
    <p>{{ msg }}</p>
{% endif %}
</body>
</html>